* {
	margin: 0;
	padding: 0;
}

/* HEADER */
header h1 {
	text-align: center;
	margin: 15px auto;
	font-weight: bold;
}

/* CURRENT RATE HEADER */
.col-4 {
	padding-left: 0;
	padding-right: 0;
}

.rate-container {
	margin: 0 auto;
	text-align: center;
}

.rate-container h2 span {
	font-size: 42px;
}

.current-container, .change-container {
	border-right: solid #ffffff 1px;
}


/* RATE HISTORY GRAPH */
.graph-container {
	max-width: 800px;
	margin: 0 auto 50px auto;
}

/* FOOTER */
footer {
	margin: 10px auto 5px auto;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}